<%- include('./partials/head', { styles: ['home'], title: 'Inicio' }) %>

    <%- include('./partials/header') %>

        <main id="main">
            <section id="banner" style=" background-image: radial-gradient(
                circle,
                rgba(255, 255, 255, 0) 50%,
                rgba(0, 0, 0, 1) 100%
              ),
              linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
              url(/img/movies/<%= movies?.[0].images?.[0].url %>);">
                <p class="categories">
                    <%= movies?.[0].categories?.map(category=> category.name).join(', ') %>
                </p>
                <h5 class="title">
                    <%= movies?.[0].title %>
                </h5>
                <div class="stars-container">
                    <% for (let index=0; index < movies?.[0].rating; index++) { %>
                        <div class="star checked-star"></div>
                        <% } %>
                            <% for (let index=0; index < 5 - movies?.[0].rating; index++) { %>
                                <div class="star"></div>
                                <% } %>
                </div>
                <h6 class="subtitle">Descripción general</h6>
                <p class="body2 description">
                    <%= movies?.[0].description %>
                </p>
            </section>
            <section class="movies-container">
                <h6 class="title">Tendencias</h6>
                <div class="carrousel">
                    <% movies.forEach((movie)=> { %>
                        <div class="movie-card">
                            <img src="/img/movies/<%= movie.images?.[0].url %>" alt="Movie 1">
                        </div>
                        <% }) %>
                </div>
            </section>
        </main>

        <%- include('./partials/footer') %>